@font-face {
  font-family: lexend;
  src: url("../../font/Lexend-Medium.ttf");
}

h1, h2, h3, h4, p {
    margin: 0;
}

.padding_div {
    padding-left: 150px;
    padding-right: 150px;
}

.title, .mission_title, .value_title, .founders_title, .desk_title {
    font-family: lexend;
    font-size: 32px;
    color: black;
}

.title, .founders_title {
    font-size: 45px;
    margin-top: 25px;
}

.value_title {
    margin-bottom: 25px;
}

.story_desk, .mission_desk, .founder_desk, .desk {
    font-family: lexend;
    font-size: 16px;
    color: black;
    margin-top: 15px;
    margin-bottom: 20px;
}

.value_container {
    display: flex;
    width: 100%;
    height: 150px;
}

.value_box {
    width: 32%;
    height: 200px;
    margin: auto;
    border-radius: 15px;
    border: 1px black solid;
}

.left_zero {
    margin-left: 0;
}
.right_zero {
    margin-right: 0;
}

.image {
    height: 25px;
    width: 25px;
    margin-top: 25px;
    margin-left: 25px;
}

.value_box_title {
    font-family: lexend;
    font-size: 25px;
    color: #1C120D;
    margin-left: 25px;
}

.founders {
    width: 100%;
    margin-top: 80px;
}

.value_box_desk {
    font-family: lexend;
    font-size: 14px;
    color: #96664F;
    margin-left: 25px;
    margin-right: 25px;
}

.founders_container {
    display: inline-block;
    width: 50%;
    text-align: center;
    margin-bottom: 20px;
}

.founders_container img {
    width: 80%;
    height: auto;
    border-radius: 15px;
}

.founders_container h2 {
    font-family: lexend;
    font-size: 20px;
    color: #1C120D;
    margin-top: 10px;
}

.founders_container h3 {
    font-family: lexend;
    font-size: 16px;
    color: #96664F;
    margin-top: 5px;
}