.shop-section {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  text-align: center;
  margin: auto;
}

.shop-content {
  text-align: center;
  max-width: 720px;
  margin-bottom: 32px;
}

.shop-heading {
  color: #1b120e;
  font-weight: 800;
}

.shop-description {
  color: #1b120e;
}

.ant-card {
  margin-bottom: 24px;
}